/* === === ===
jloffler
2021
Written for - freeCodeCamp Survey Form Page project

Swatch colours
*
*
=== === === */

/*
Mobile First Design
Table of Conents
 - Resets and overrides
 - Links and type
 - Main layout
 - Secondary layout structures
 - Form elements
 - Misc
 - Responsive Design
*/

/* *** Resets and Overrides *** */
body {
  margin: 10px;
  padding: 0;
  background-color: white;
  font-family: arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* *** Links and Type *** */

/* *** Main Layout *** */
header {
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.form-container > * {
  flex: 1 100%;
}

.input-text-wrap, .radio-button-wrap, fieldset {
  display: flex;
  flex-flow: row wrap;
}

.input-text-wrap > *, .radio-button-wrap > *, fieldset > * {
  flex: 1 100%;
}

.radio-button-wrap > label {
  margin: 4px;
  padding: 0;
  border: 2px solid black;
  border-radius: 1em;
  text-align: center;
}

fieldset > label {
  margin: 2px;
  padding: 0 5px 2px 5px;
  border: 1px solid black;
  border-radius: 0.3em;
}

.backstory-label {
  max-width: 95%;
}

#backstory {
  display: block;
  width: 100%;
  height: 50vh;
  resize: both;
}

/* *** Responsive Design *** */
@media all and (min-width: 500px) {
  .input-text-wrap { max-width: 750px; }  
  .radio-button-wrap {
    max-width: 700px;
    justify-content: center;
  }
  .radio-button-wrap > label { max-width: 31%; }
  .input-text-wrap > * {
    flex: 1 0 45%;
  }
  fieldset {
    max-width: 47%;
    flex: 1 0 auto;
  }
  .backstory-label { max-width: 750px; }
  #backstory { height: 25vh; }

}

@media all and (min-width: 1212px) {
  fieldset > label {
    max-width: 262px;
  }
  .form-container { max-width: 1230px; }
}