/* === === ===
jloffler
2021
Written for - freeCodeCamp Survey Form Page project

Swatch colours */
:root {
  --super-blue: #2b3784;
  --super-red: #b11313;
  --super-light-blue: #447bbe;
  --super-light-red: #df1f2d;
  --super-light-yellow: #FFD84D;
  --medium-blue: #2764AC;
  --darker-yellow: #FFD028;

/* Colour Variables */  
  --main-background-color: var(--super-light-blue);
  --main-text-color: black;

  --button-border-color: black;
  --button-background-color: var(--super-blue);
  --button-text-color: var(--super-light-yellow);

  --hover-background-color: var(--medium-blue);

  --checked-border: var(--super-red);
  --checked-background: var(--super-blue);
  --checked-text: var(--super-light-yellow);
}
/* === === === */

/*
Mobile First Design
Table of Conents
 - Resets and overrides
 - Links and type
 - Main layout
 - Secondary layout structures
 - Form elements
 - Misc
 - Responsive Design
*/

/* *** Resets and Overrides *** */
body {
  margin: 10px;
  padding: 0;
  background-color: var(--main-background-color);
  font-family: arial, sans-serif;
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
}

input, textarea, select {
  background-color: lightgrey;
  border-radius: 0.5em;
}
header {
  background-color: #FFF409;
  color: #FF0F09;
  border: 5px solid #FF0F09;
}
p, label, legend {
  font-size: 1.1em;
}

/* *** Checkboxes and Radio Buttons *** */
/*
  Hide the browser's default checkbox and radio buttons. Doing it this way,
  instead of: <visibile: hidden;> means it is still available for screen readers.
*/
input[type="checkbox"], input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  right: 99999px;
}

.radio-button-wrap > label:hover {
  background-color: var(--hover-background-color);
}
.checkbox-wrap > label:hover {
  background-color: var(--super-blue);
}

/* ~ tilde is the sibling combinator */
/* 
  I had to rework the HTML to make the input-radio-buttons siblings (that also
  come before) to the label in order for the label to change color on :checked.
  Originally the input-radio-buttons were children of the label. But, w/o
  Javascript children cannot alter parent elements.
*/
.radio-button-wrap input:checked ~ label {
  background-color: var(--checked-background);
  border: 4px solid var(--checked-border);
  color: var(--checked-text);
  font-weight: 600;
  line-height: 1.5;
}
.checkbox-wrap input:checked ~ label {
  background-color: var(--checked-background);
  border-color: var(--checked-border);
  color: var(--checked-text);
}

/* *** Main Layout *** */
header {
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.form-container > * {
  flex: 1 100%;
}

.input-text-wrap > * {
  margin: 10px 0 10px 0;
}

.radio-button-container {
  margin-bottom: 25px;
}

.input-text-wrap, .radio-button-container, fieldset {
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.5em;
}

.input-text-wrap > *, .radio-button-container > *, fieldset > * {
  flex: 1 100%;
}

.radio-button-wrap {
  margin: 4px;
  padding: 0;
  text-align: center;
  max-width: 100%;
}

.radio-button-wrap > label {
  display: block;
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
}

.checkbox-wrap > label {
  display: block;
  cursor: pointer;
  width: 100%;
  margin: 2px;
  padding: 0 5px 2px 5px;
  border-radius: 0.3em;
  color: var(--darker-yellow);
  background-color: var(--medium-blue);
  border: 2px solid var(--button-border-color);
}

.backstory-label {
  max-width: 95%;
  margin: 25px 0 25px 0;
}

#backstory {
  display: block;
  width: 100%;
  height: 50vh;
  resize: both;
}

#submit {
  background-color: var(--checked-background);
  border: 4px solid var(--checked-border);
  border-radius: 1em;
  color: var(--checked-text);
  font-weight: 600;
  font-size: 2em;
  line-height: 1.5;
}

/* *** Responsive Design *** */
@media all and (min-width: 500px) {
  .input-text-wrap { max-width: 750px; }  
  .radio-button-container {
    max-width: 700px;
    justify-content: center;
  }
  .radio-button-wrap { 
    max-width: 31%;
    margin-bottom: 1em;
  }
  .input-text-wrap > * { flex: 1 0 45%; }
  fieldset {
    max-width: 47%;
    flex: 1 0 auto;
  }
  .backstory-label { max-width: 750px; }
  #backstory { height: 25vh; }
  #submit {
   max-width: 40%;
   margin: 0 auto 25px auto;
 }
}

@media all and (min-width: 1212px) {
  .checkbox-wrap {
    max-width: 262px;
  }
  .form-container { max-width: 1230px; }
}